body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* slelect 2 */
.select2-container .select2-search--inline .select2-search__field {

  height: 18px !important;

}

/* select 2 */